body {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
}

input {
  border-radius: 10px;
}

.show_weather {
  border: 2px solid rgb(110, 156, 170);
  border-radius: 10px;
  height: 125px;
}

.clearStorage {
  height: 25px;
}
